alembic==1.7.7
aniso8601==9.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-Login==0.5.0
flask-ngrok==0.0.25
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
html==1.13
html5==0.0.9
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.8.0
Mako==1.2.0
MarkupSafe==2.1.0
PyJWT==2.3.0
pytz==2021.3
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.31
SQLAlchemy-serializer==1.4.1
urllib3==1.26.8
waitress==2.1.0
webencodings==0.5.1
Werkzeug==2.0.3
wtf==0.1
WTForms==3.0.1
