<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class="bi me-2" width="40" height="32" alt="Logo" src="{{ url_for('static', filename='img/logo.png') }}"/>
      </a>
      <h2 class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> КСИГМА </h2>
      <div class="text-end">
        {% if current_user.is_authenticated %}
          <a class="btn btn-outline-light me-2" href="/logout">Выход</a>
          {% if current_user.is_teacher %}
            <a class="btn btn-outline-light me-2" href="/teacher_profile"> Личный кабинет</a>
            <a class="btn btn-outline-light" href="/update_teacher_profile"> Изменить профиль </a>
          {% else %}
            <a class="btn btn-outline-light me-2" href="/student_profile"> Личный кабинет</a>
            <a class="btn btn-outline-light" href="/update_student_profile"> Изменить профиль </a>
          {% endif %}
        {% else %}
            <a class="btn btn-outline-light me-2" href="/reqister_student">Зарегистрироваться учеником</a>
            <a class="btn btn-outline-light " href="/register_teacher">Зарегистрироваться учителем</a>
            <a class="btn btn-outline-light " href="/login">Войти</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

