{% extends "core/base.html" %}

{% block not_default_static %}
    <link href="{{ url_for('static', filename='css/list-groups.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="list-group list-group">
    <h2>Выберите курс для изменения</h2>
    {% if courses %}
        <table>
            <thead>
                <tr>
                    <th class="table_header">Название курсов</th>
                </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td><a href="/change_course/{{ course.id }}" class="w-100 btn btn-lg btn-primary">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="tasks_table" id="s">
            <thead>
                <tr>
                    <th class="table_header">Таких курсов у вас ещё нет</th>
                </tr>
            </thead>
        </table>
    {% endif %}
    <p></p>
    <a class="w-100 btn btn-lg btn-primary" href="/teacher_profile"> Назад </a>
</div>
{% endblock %}
