{% extends "core/base.html" %}

{% block not_default_static %}
    <link href="{{ url_for('static', filename='css/list-groups.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="list-group list-group">
    <h2> Уроки курса </h2>
    {% if lessons %}
        <table>
            <thead>
                <tr>
                    <th class="table_header">Название курсов</th>
                </tr>
            </thead>
            <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td><a href="/change_lesson/{{ lesson.id }}/" class="w-100 btn btn-lg btn-primary">{{ lesson.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="tasks_table" id="s">
            <thead>
                <tr>
                    <th class="table_header">В этом курсе ещё нет уроков</th>
                </tr>
            </thead>
        </table>
    {% endif %}
    <p></p>
    <a class="w-100 btn btn-lg btn-primary" href="/change_lessons_courses"> Назад </a>
</div>
{% endblock %}
