{% extends "index.html" %}

{% block content %}


<div class="w3-container" id="table">
    <div id="statusbar" class="">Lesson was created</div>
    <label form="classSelect">фильтр по предметам</label>
    <select class="form-control" name="filter" onchange='reload(this)'>
        {% for object in objects %}
        {% if object== object_now%}
        <option value="{{object}}" selected="selected">{{object}}</option>
        {% else %}
        <option value={{object}}> {{object}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <table class="tasks_table" id="s">
        <thead>
        <tr>
            <th>Task_name</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks%}
        <tr>
            <td data="{{lesson}}" onclick="testFunction(this)">{{lesson}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="w3-container" , id="task">
    <p></p>

    {{form.text_name(class="name", id="lesson_name", placeholder="название курса")}}
    {% for error in form.text_name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}


    <ol id="ol" class="tasks_correct">

    </ol>
    <input class="form-button" type="submit" value="Save" onclick="save()"/>
</div>

<script>
function testFunction(elem) {
    let liFirst = document.createElement('li');
    liFirst.innerHTML = elem.textContent
    liFirst.id = elem.textContent
    var elem_id = elem.textContent
    liFirst.setAttribute('class', 'good')
    liFirst.setAttribute('onclick', 'remove_it("'+elem_id+'")');
  ol.prepend(liFirst);
}


function remove_it(elem_id){document.getElementById(elem_id).remove();}

async function save(){const formData = new FormData();
var val = document.getElementById('lesson_name').value;
var a = Array.from(document.getElementsByClassName("good"));
var lst = []
a.forEach(function(element){lst.push(element.textContent);});
formData.append('array', lst)
formData.append('name', val)
if (val.length ==0) {alert("введите название курса");}
else if (lst.length ==0) {alert("выберите уроки, из которых будет состоять курс");}
else{
fetch("{{base_url}}/" + "creating_course", {method: 'POST',
body: formData});
ShowStatusbar();
await sleep(3 * 1000);
HideStatusbar();};

}
function reload(filter_name){window.location = "{{base_url}}create_lesson/"+ filter_name.value + "/";
}
function ShowStatusbar() {
        document.getElementById("statusbar").className = "processing";
    };

    function HideStatusbar() {
        document.getElementById("statusbar").className = "";
    }
function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}


</script>

{% endblock %}