{% extends "index.html" %}

{% block content %}


<div class="w6-container">
    <form method="post">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        {% if error %}
            <h2> {{ error }} </h2>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th class="table_header">Вопрос задания</th>
                    <th class="table_header">Правильный ответ</th>
                </tr>
            </thead>
            <tbody>
            {% for num in range(10) %}
                <tr>
                    <td class="table_header"><input type="text" size="40" id="task_{{ num }}" name="task_{{ num }}" ></td>
                    <td class="table_header"><input type="text" size="40" id="answer_{{ num }}" name="answer_{{ num }}" ></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="form-button" type="submit">Создать</button>
    </form>
</div>

{% endblock %}