{% extends "core/base.html" %}

{% block not_default_static %}
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="text-center form-signin">
  <form method="post" >
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
      <div class="form-floating text-white bg-dark">
        {% if message %}
            {{ form.email(class="form-control", class="form-control is-invalid bg-dark text-white", placeholder="имя@пример.com") }}
            {{ form.email.label }}
            {% for error in form.email.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
        {% else %}
            {{ form.email(class="form-control", class="form-control bg-dark text-white", placeholder="имя@пример.com") }}
            {{ form.email.label }}
        {% endif %}
      </div>
      <div class="form-floating text-white bg-dark">
        {% if message %}
            {{ form.password(class="form-control", class="form-control is-invalid bg-dark text-white", placeholder="имя@пример.com") }}
            {{ form.password.label }}
        {% else %}
            {{ form.password(class="form-control", class="form-control bg-dark text-white", placeholder="имя@пример.com") }}
            {{ form.password.label }}
        {% endif %}
      </div>
      {% if message %}
        <h5>
            {{ message }}
        </h5>
      {% endif %}
    {{ form.remember_me() }} {{ form.remember_me.label }}
    {{ form.submit(type="submit", class="w-100 btn btn-lg btn-primary") }}
  </form>
</div>
{% endblock %}
