{% extends "index.html" %}
{% block content %}
<style>form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    border: 3px solid gray;
    background-color: #9fff8c;
    border-radius: 5px;
    padding: 10px;
}</style>
<form class="login_form" method="post">
    <h1>Регистрация в КСИГМУ</h1>
</form>

    <div>
        <form class="login_form" method="post">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="Введите адрес почты" name="email">
            <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
            <div class="form-group">
                <label for="classSelect">В каком вы классе</label>
                <select class="form-control" id="classSelect" name="class">
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                </select>
            </div>
            <div class="form-group">
                <label for="about">Немного о себе</label>
                <textarea class="form-control" id="about" rows="3" name="about"></textarea>
            </div>
            <div class="form-group">
                <label for="photo">Приложите фотографию</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <div class="form-group">
                <label form="form-check">Укажите пол</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
                    <label class="form-check-label" for="male">
                        Мужской
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sex" id="female" value="female">
                    <label class="form-check-label" for="female">
                        Женский
                    </label>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
                <label class="form-check-label" for="acceptRules">Готов быть добровольцем</label>
            </div>
            <button type="submit" class="btn btn-primary">Записаться</button>
        </form>
    </div>
    {% endblock %}